extends ../layout

block body
	div(class='valign-wrapper' style='position: fixed; left: 0%; right: 0%; top: 0%; bottom: 0%; display: flex; align-items: center; justify-content: center;')
		div(class='card' style='background-color: rgba(255,255,255,0.8)')
			div(class='card-content black-text')
				a(href='auth/google')
					img(src='/img/btn_google_signin_dark_normal_web@2x.png' style='height: 60px')
				br
				br
				div(class='center-align')
					| 401 Error?#{' '}
					a(href='#' class='link' onclick='alert("Please come back to this page manually after signing in with HCPSS!"); window.location="https://drive.google.com/a/hcpss.org/";') Click Here
				div(class='center-align')
					| Developed by#{' '}
					a(href='/aboutus') JT Campbell