extends ../layout

block body
	div(style='position: fixed; left: 0%; right: 0%; top: 0%; bottom: 0%; display: flex; align-items: center; justify-content: center; flex-direction: column')
		div(class='card' style='background-color: rgba(255,255,255,0.8')
			form(method='post')
				div(class='card-content')
					span(class='card-title') 
						b Pass Signup
					br
					
					div(class='input-field')
						select(id='sel_dept' onchange='updateTeachers(this);' required)
							option(value=null disabled selected) Choose an Option...
							each dept in depts
								option(value=dept) #{dept}
						label Department
					br
					div(class='input-field')
						select(name='teacher' id='sel_teacher' required)
						label Teacher
					br
					div(class='input-field')
						select(name='purpose' id='sel_purpose' required)
							each purpose in purposes
								option(value=purpose) #{purpose}
						label Purpose
				div(class='card-action' style='background-color: rgba(255,255,255,0); border-top: 1px solid rgba(100,100,100,0.2);')
					input(class='btn-flat blue-text' type='submit' value='Get a Pass')

	
	script.
		var gradYear = #{gradYear}
		document.addEventListener('DOMContentLoaded', function()
		{
			var elems = document.querySelectorAll('select');
			var instances = M.FormSelect.init(elems);
		});

		function updateTeachers(select)
		{
			if(select.value)
			{
				var xhr = new XMLHttpRequest();
				xhr.open('GET', '/pass/available_teachers?dept=' + encodeURI(select.value) + '&gradYear=' + encodeURI({gradYear}));
				xhr.onreadystatechange = function()
				{
					if(xhr.readyState === 4 && xhr.status === 200)
					{
						document.querySelector('#sel_teacher').innerHTML = xhr.responseText;
						var elems = document.querySelectorAll('select');
						var instances = M.FormSelect.init(elems);
					}
				}
				xhr.send();
			}
		}