extends ../layout

block body
	div(class='card mx-auto' style='position: fixed; top: 50%; right: 50%; transform: translate(50%, -50%);')
		div(class='card-body')

			h3(class='mx-auto' style='text-align: center;') Change Website Settings
			p(style='text-align: center;')
				small WARNING!
					br
					| Incompatible settings may break the website!
					br
					| The website will crash and reload to apply settings!
					br
					| It is not recommended to change the settings while the signup is opened!

			form(method='post')
				table(class='table')
					tbody
						- for(var c = 0; c < rows.length; c++)
							tr
								td #{rows[c].key}
								td
									input(class='form-control' name=rows[c].key type='text' value=rows[c].value required)
								td #{rows[c].description}

				hr
				div(class='row')
					input(class='mx-auto btn btn-warning' name='submit' type='submit' value='Apply Settings')