extends ../layout

block body
	div(class='card mx-auto' style='position: fixed; top: 50%; right: 50%; transform: translate(50%,-50%);')
		div(class='card-body')

			h3(style='text-align: center;') Pass Signup
			hr

			form(method='post')
				div(class='input-group')
					div(class='input-group-prepend')
						label(class='input-group-text' for='sel_dept') Department
					select(class='custom-select' id='sel_dept' onchange='updateTeachers(this);' required)
						option(value=null disabled selected) Choose an option...
						each dept in depts
							option(value=dept) #{dept}
				br
				div(class='input-group')
					div(class='input-group-prepend')
						label(class='input-group-text' for='sel_teacher') Teacher
					select(class='custom-select' name='teacher' id='sel_teacher' required)
				br
				div(class='input-group')
					div(class='input-group-prepend')
						label(class='input-group-text' for='sel_purpose') Purpose
					select(class='custom-select' name='purpose' id='sel_purpose' required)
						each purpose in purposes
							option(value=purpose) #{purpose}
				br
				div(class='input-group')
					input(class='btn btn-info mx-auto' type='submit' value='Get a Pass')

	script.
		var gradYear = #{gradYear}
		function updateTeachers(select)
		{
			if(select.value)
			{
				var xhr = new XMLHttpRequest();
				xhr.open('GET', '/pass/available_teachers?dept=' + encodeURI(select.value) + '&gradYear=' + encodeURI(gradYear));
				xhr.onreadystatechange = function()
				{
					if(xhr.readyState === 4 && xhr.status === 200)
					{
						document.querySelector('#sel_teacher').innerHTML = xhr.responseText;
					}
				}
				xhr.send();
			}
		}